
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');


body, html {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}


h5{
	font-weight: bold;
	font-size: 20px;


}

h1{
	font-weight: 800;
	font-size: 70px;

}

h3{
	font-weight: bold;
	font-size: 30px;
	padding-right: 20px;

}
h4{
	font-weight: normal;
	font-size: 15px;
	text-align: center;

}

p{

	font-weight: bold;
	font-size: 20px;
	margin: 30px 0;
}

.wrapper {
	width: 960px;
	margin: 0 auto;


}


.hero-banner{
	background-color: #007FFF;
	height: 87vh;
	padding: 50px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;

}
.hero-banner h5{
	color: white;
	margin : 0;
	padding: 0 0 100px;
}

.hero-banner h1{
	color: white;
	margin : 14px 0 20px;
}

.hero-banner h3{
	color: white;
	margin : 0 0 35px;

}

.character1{
background: url(img/yellow-alien.png) no-repeat 0 0;
background-size: 70%;
width: 600px;
height: 794px;
position: absolute; top : 40px; right: 10px;

}

.excell{
background: url(img/excel.jpg);
background-size: 100%;
position: relative;
width: 1000px;
height: 508px;


}


.more-info{
 text-align: center;

}
.wrapper{

	width: 960px;
	margin: 0 auto;
}

.hightlight {

color: #FF3300;
padding: 10px;
}

a.cta,
button.cta{
	font-size: 30px;
	font-weight: bold;
	color: white;
	background:  #007FFF ;
	display : inline-block;
	box-shadow: 0 0 0 10px rgba(0,127,255,.15);
	padding : 20px 30px;
	border-radius: 10px;
	text-decoration: none;



}

a.cta.alt,
button.cta.alt{
	background-color: #FFD400;
	box-shadow: 0 0 0 10px rgba(0,0,0,.15);
	color: #111111;
}

a.boutton{
	box-sizing: border-box;
font-size: 30px;
	font-weight: bold;
	color: white;
	background:  #007FFF ;
	display : inline-block;
	box-shadow: 0 0 0 10px rgba(0,127,255,.15);
	padding : 20px 30px;
	border-radius: 10px;
	text-decoration: none;

}
form .input{
	color : red;
}

nav{
	height: 80px;
	box-shadow: 0 5px 8px rgba(0,0,0,.2);
	position: sticky;
	background-color: white;
	top: 0;
	transition: 0.2s;
}

nav .logo{
	display: block; 
	width: 297px;
	height: 31px;
	position: absolute; top: 10%;
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 50px;
	background: url(img/logo.png) no-repeat 0 0 ;
	background-size: 100%;
	overflow: hidden;
	text-indent: -999px;

}


nav ul {
padding : 5px;
margin : 30px;

}

nav ul li {
padding : 5px;
margin : 0;
display: block;
float: right;

}

nav ul li a{
display: block;
height: 80%;
box-sizing: border-box;
font-size: 30px;
text-transform: uppercase;
font-weight: bold;
text-decoration: none;
color: #111111
padding : 35px 50px;
line-height: 30px;
padding-right: 20px;
padding-left: 20px;
}

.sep{


}


.nb-list{
	width: 470px;
	background-color: #EDEDED;
	padding: 20px 20px 0 20px;
	box-sizing: border-box;
	float: left;
	margin-left: 0 30px 20px 0;
	position: relative;


}

.nb-list li.dragging{

	position: absolute;
	padding-top: 40px;
	top: 100px;
	left: 20px;
	right: 20px;
	transform: rotate(60deg);
	box-shadow: 8 2px 14px rgba(0,0,0,.3)

}

.nb-list li{
	height: 70px;
	border-radius: 10px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
	padding: 6px 20px;
	box-sizing: border-box;
	position: relative;



}

.nb-list li.yellow{
	background-color: #FFD400;
	color: #111111;}
.nb-list li.blue{
	background-color: #007FFF;
	color: #111111 ;}
.nb-list li.red{background-color: rgba(0,0,0,.1);}
.nb-list li.salmon{
	background-color: #FA8072;
	color: white;}
.nb-list li.yellowdragging{
	background-color: #FFD400;
	color: #111111;
	position: absolute;
	top: 30px;
	left: 30px;
/*
	<div class="sep">
	</div>
 
	<div class="story">

		<ul class ="nb-list" id="propos">
				<li class="blue"> MATIN </li>
				<li class="gray"> MIDI </li>
				<li class="yellow"> SOIR </li>
				<li class="red"> Liste </li>

		</ul>

		<h3> Explication Code </h3>
		<p> Notre projet permet à son utilisateur (particulier, hôtel ou restaurant) de limiter le gachis en achetant uniquement ce qu'il a besoin au point de vu des aliments nécessaires. En effet, lorqu'on prévoit les repas à l'avance, on sait exactement quoi acheter. Notre programme permet d'avoir une vision d'ensemble des repas pour une semaine et prévoit automatiquement la liste de course associée en fpnction des quantité voulue. </p>

		<p> Le programme se décompose en plusieurs Userformes qui permettent de controller les repas, ajouter des plats personnalisés dans la base de données et de créer la liste de course. </p>
	</div>


<div class="sep">
	</div>
	
<div class="nous" id="nous">
<h4> Mathilde GARCIA Charlotte CHATELIN et Mathilde KUNTZ </h4>
<p> UTBM Automne 2018  <span class="hightlight"> Groupe B</span> </p>

	<img src="img/the-gang.png" width="735" height="399"
	alt="The Gang">

	*/
